/*my css stylesheet*/
/*header*/
.flex-wrapper{
    display: flex;
    margin: 0px;
    padding: 0px;
    overflow:hidden;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
 
}

nav{
    margin:0;
    padding: 0.5rem;
    background-color: #204a8e;
    box-shadow: 5rem;
}
nav ul{
    list-style-type: none;
    text-align: right;
    color: lightgray;
}

nav li{
    display:inline-block;
    padding: 0.5rem;
    text-decoration:none;
    font-size: 20px;
    color: lightgrey;
}

body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

 }
 
 .nyc{
    max-width:100%;
    height:auto;
 }

 .credit {
    text-align: right;
    margin-top:0%;
    margin-right:0.5em;
    color: lightgray;
 }

 .credit a{
    color: lightgray;
 }

 /* Counter Styling */
 .timer{
     margin:0;
     background-color:black;
     font-size: 30px;
     color: white;
     text-align: center;
     padding: 0.5em;
     width:auto;
 }
 /*footer*/
 
 footer{
     padding: 0.5rem;
     background-color: #204a8e;
     box-shadow: 5rem;
     width:100%; 
 }
footer ul{
    display:flex;
    justify-content:space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: lightgray;
 }
 
 footer li{
     padding: 1rem;
     text-decoration:none;
     font-size: 20px;
     color:lightgray;
 }
 
 .line{
     border-right: 0.1rem solid lightgrey;
 }
 
 li a{
     text-decoration: none;
     color: lightgray;
 }
 
 li a:visited{
     text-decoration: none;
     color: lightgray;
 }
 li a:hover{
     color: 
     darkgray;
     text-decoration:none;
 }

 h1{
     text-align: center;
 }
 
 h2{
     margin: 0rem;
 }
 
 p{
     margin: 0rem;
 }
 .main{
     display:flex;
     flex-flow: column wrap;
     justify-content: center;
 }
 
 .weatherwidget-io
 {
     width:auto;
 }
 /*main page widgets*/
 
 .mainbtm{
    display: flex;
    background-color: black;
 }
 /*blogstyling*/
 .blogs{
     margin: 2rem 2rem;
 }
 
 #vid{
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    height: 320px;
    width: 640px;
 }

 .video{ 
    position: relative;
}
 .img1{
     float: right;
     border-radius: 1rem;
     margin-left: .5rem;
     margin-right: 1rem;
 } 
 
 .img1::after{
     content: "";
     display: table;
     clear: both;
 }
 .img2{
    float: left;
    border-radius: 1rem;
    margin-right: .5rem;
    margin-left: 0rem;
}
 .img2::after{
    content: "";
    display: table;
    clear: both;
}
 
 .bloglist ul {
     list-style-type: none;
 }
 article {
     margin: 2rem 0;
 }
 article img {
     float: left;
     margin: 0 1rem 1rem 0;
     border-radius: 1rem;
 }
 article::after {
     content: "";
     display: table;
     clear: both;
   }
   .wrapper {
     width: 50%;
     margin: 0 auto;
   }


   .posted {
    margin-bottom: 0.4rem;
    margin-top: 0.1rem;
   }
 
   /*Donation Page*/
   .donation{
     margin: 0 2em;
   }
 
   button{
     margin: 2em 0em;
     background-color: #204a8e;
     color: white;
     text-decoration: none;
     font-size: 16px;
     border-radius: 8px;
     padding: 0.5em;
   }
 
   button a{
     text-decoration: none;
     color: lightgray;
     
 }
 
 button a:visited{
     text-decoration: none;
     color: lightgray;
 }
 button a:hover{
     color: 
     darkgray;
     text-decoration:none;
 }
 
   /* gallery styling*/
   #gallery {
     column-count:5;
     column-gap:5px;
   }
 
   #gallery img{
     width: 100%;
     height: auto;
     margin-bottom:5px;
   }
 
   #gallery img:hover{
     filter: grayscale(100%);
   }
  
   @media (max-width: 1200px){
     #gallery {
         -moz-column-count: 4;
         -webkit-column-count: 4;
         column-count: 4;
     }
   }
 
   @media (max-width: 1000px){
     #gallery {
         -moz-column-count: 3;
         -webkit-column-count: 3;
         column-count: 3;
     }
   }
 
   @media (max-width: 800px){
     #gallery {
         -moz-column-count: 3;
         -webkit-column-count: 3;
         column-count: 3;
     }
   }
 
   @media (max-width: 400px){
     #gallery {
         -moz-column-count: 3;
         -webkit-column-count: 3;
         column-count: 3;
     }
   }